<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="./asstes/css/style.css" />
  </head>
  <body class="bg-light">
    <!-- Navbar -->
    <nav class="navbar navbar-expand fixed-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="btn-group dropend">
            <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots-vertical h1"></i></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Action two</a></li>
              <li><a class="dropdown-item" href="#">Action three</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <nav class="navbar fixed-bottom">
      <div class="container-fluid">
        <a class="navbar-brand p-4 ms-2 bg-warning rounded-pill" href="#"></a>
      </div>
    </nav>
    <!-- Navbar Akhir -->

    <!-- Content -->
    <section id="content">
      <div class="container h-100 d-flex align-items-center">
        <div class="row">
          <div class="col-lg">
            <h1>Hey, I'm Wildan a <span class="text-warning">web developer</span></h1>
            <h4>front-end developer & fresh graduation</h4>
            <div class="mt-5">
              <button class="me-2 btn btn-warning text-white px-4 py-2">resume</button>
              <button class="mx-2 btn btn-light py-2"><i class="bi bi-instagram"></i></button>
              <button class="mx-2 btn btn-light py-2"><i class="bi bi-linkedin"></i></button>
              <button class="mx-2 btn btn-light py-2"><i class="bi bi-whatsapp"></i></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content Akhir -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <script src="./asstes/js/script.js"></script>
  </body>
</html>
