@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;900&display=swap");
@import url("./assets/css/sidebar.css");
@import url("./assets/css/preload.css");
@import url("./assets/css/project.css");

body {
  font-family: "Montserrat Alternates", sans-serif !important;
  padding: 0;
  margin: 0;
}

.fw-n {
  font-weight: 500;
}

button {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#content {
  height: 100vh;
  overflow: hidden;
}

.btn-to:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 0 25px;
}

.btn-to {
  transition: 1s !important;
}

@media only screen and (width: 850px) {
  .pembungkus-project {
    display: grid !important;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 400px) {
  #content {
    overflow: auto;
  }

  .next-prev {
    display: none !important;
  }

  .pembungkus-project {
    display: grid !important;
    grid-template-columns: auto;
  }

  #nav-wrap {
    background-color: white;
  }
}
