@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

body {
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 0;
  margin: 0;
}

button {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

#content {
  height: 100vh;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border-color: transparent !important;
}
